<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Connection (API)</title>
        <title lang="nl-NL">Verbinding (API)</title>
        <title lang="de-DE">Verbindung (API)</title>
        <input-field type="text">
            <name>name</name>
            <label>Name</label>
            <label lang="nl-NL">Naam</label>
            <label lang="de-DE">Name</label>
            <helpText>Used for internal reference only.</helpText>
            <helpText lang="nl-NL">Enkel voor interne refentie.</helpText>
            <helpText lang="de-DE">Nur als interne Referenz.</helpText>
            <placeholder>Choose an internal name...</placeholder>
            <placeholder lang="nl-NL">Kies een interne naam...</placeholder>
            <placeholder lang="de-DE">Wählen Sie einen internen Namen ...</placeholder>
            <copyable>true</copyable>
        </input-field>
        <input-field type="text">
            <name>publicKey</name>
            <label>Public key</label>
            <label lang="nl-NL">Publieke sleutel</label>
            <label lang="de-DE">Öffentlicher schlüssel</label>
            <helpText>Find your public key in the API Key Management section in EffectConnect Marketplaces.</helpText>
            <helpText lang="nl-NL">Vind je publieke sleutel in de API Sleutel Beheer sectie in EffectConnect Marketplaces.</helpText>
            <helpText lang="de-DE">Suchen Sie Ihren öffentlichen Schlüssel im API Key Management in EffectConnect Marketplaces.</helpText>
            <placeholder>Fill in the public key...</placeholder>
            <placeholder lang="nl-NL">Vul de publieke sleutel in...</placeholder>
            <placeholder lang="de-DE">Füllen Sie den öffentlichen Schlüssel aus...</placeholder>
            <copyable>true</copyable>
        </input-field>
        <input-field type="password">
            <name>secretKey</name>
            <label>Secret key</label>
            <label lang="nl-NL">Geheime sleutel</label>
            <label lang="de-DE">Geheimer schlüssel</label>
            <helpText>Find your public key in the API Key Management section in EffectConnect Marketplaces.</helpText>
            <helpText lang="nl-NL">Vind je geheime sleutel in de API Sleutel Beheer sectie in EffectConnect Marketplaces.</helpText>
            <helpText lang="de-DE">Suchen Sie Ihren öffentlichen Schlüssel im API Key Management in EffectConnect Marketplaces.</helpText>
            <placeholder>Fill in the secret key...</placeholder>
            <placeholder lang="nl-NL">Vul de geheime sleutel in...</placeholder>
            <placeholder lang="de-DE">Füllen Sie den geheimen Schlüssel aus...</placeholder>
        </input-field>
    </card>
    <card>
        <title>Catalog Export</title>
        <title lang="nl-NL">Catalogus Export</title>
        <title lang="de-DE">Katalogexport</title>
        <input-field type="single-select">
            <name>catalogExportSchedule</name>
            <label>Schedule</label>
            <label lang="nl-NL">Schema</label>
            <label lang="de-DE">Zeitplan</label>
            <helpText>Determines if and when the catalog export process will run.</helpText>
            <helpText lang="nl-NL">Bepaalt of en wanneer het catalogus export proces uitgevoerd zal worden.</helpText>
            <helpText lang="de-DE">Legt fest, ob und wann der Katalogexport ausgeführt wird.</helpText>
            <placeholder>Choose a custom schedule...</placeholder>
            <placeholder lang="nl-NL">Kies een aangepast schema...</placeholder>
            <placeholder lang="de-DE">Wählen Sie einen benutzerdefinierten Zeitplan...</placeholder>
            <defaultValue>43200</defaultValue>
            <disabled>true</disabled>
            <options>
                <option>
                    <id>86400</id>
                    <name>Every 24 hours</name>
                    <name lang="nl-NL">Iedere 24-uur</name>
                    <name lang="de-DE">Alle 24 Stunden</name>
                </option>
                <option>
                    <id>64800</id>
                    <name>Every 18 hours</name>
                    <name lang="nl-NL">Iedere 18-uur</name>
                    <name lang="de-DE">Alle 18 Stunden</name>
                </option>
                <option>
                    <id>43200</id>
                    <name>Every 12 hours</name>
                    <name lang="nl-NL">Iedere 12-uur</name>
                    <name lang="de-DE">Alle 12 Stunden</name>
                </option>
                <option>
                    <id>21600</id>
                    <name>Every 6 hours</name>
                    <name lang="nl-NL">Iedere 6-uur</name>
                    <name lang="de-DE">Alle 6 Stunden</name>
                </option>
                <option>
                    <id>3600</id>
                    <name>Every hour</name>
                    <name lang="nl-NL">Ieder uur</name>
                    <name lang="de-DE">Jede Stunde</name>
                </option>
                <option>
                    <id>0</id>
                    <name>Disabled</name>
                    <name lang="nl-NL">Uitgeschakeld</name>
                    <name lang="de-DE">Ausgeschaltet</name>
                </option>
            </options>
        </input-field>
        <input-field type="bool">
            <name>addLeadingZeroToEan</name>
            <label>Add leading zero to EAN</label>
            <label lang="nl-NL">Voorloopnul toevoegen aan EAN</label>
            <label lang="de-DE">Fügen Sie der EAN die führende Null hinzu</label>
            <helpText>Select whether the plugin should automatically add a leading zero to an EAN that consists of 12 characters.</helpText>
            <helpText lang="nl-NL">Selecteer of een EAN waarde die uit 12 tekens bestaat aangevuld moet worden met een voorloopnul.</helpText>
            <helpText lang="de-DE">Wählen Sie aus, ob ein aus 12 Zeichen bestehender EAN-Wert durch eine führende Null ergänzt werden soll.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>useSpecialPrice</name>
            <label>Use special price</label>
            <label lang="nl-NL">Gebruik de aanbiedingsprijs</label>
            <label lang="de-DE">Verwenden den Angebotspreis</label>
            <helpText>Select whether the special price attribute should be used when exporting the catalog to EffectConnect Marketplaces. The original price will just as well be exported, but in that case as original price attribute.</helpText>
            <helpText lang="nl-NL">Selecteer of het speciale prijs attribuut gebruikt dient te worden bij het exporteren van de catalogus naar EffectConnect Marketplaces. De originele prijs zal tevens worden geëxporteerd, enkel in dat geval als originele prijs.</helpText>
            <helpText lang="de-DE">Wählen Sie aus, ob das Sonderpreisattribut beim Exportieren des Katalogs in EffectConnect Marketplaces verwendet werden soll. Der ursprüngliche Preis wird genauso gut exportiert, in diesem Fall jedoch als ursprüngliches Preisattribut.</helpText>
            <defaultValue>true</defaultValue>
            <copyable>true</copyable>
        </input-field>
        <input-field type="bool">
            <name>useFallbackTranslations</name>
            <label>Use fallback translations</label>
            <label lang="nl-NL">Gebruik fallback-vertalingen</label>
            <label lang="de-DE">Verwenden Fallback-Übersetzungen</label>
            <helpText>Select whether the default language should be used when a translable value is not set in one of the other languages when exporting the catalog to EffectConnect Marketplaces.</helpText>
            <helpText lang="nl-NL">Selecteer of de standaardtaal moet worden gebruikt als een vertaalbare waarde niet is ingesteld in een van de andere talen bij het exporteren van de catalogus naar EffectConnect Marketplaces.</helpText>
            <helpText lang="de-DE">Wählen Sie aus, ob die Standardsprache verwendet werden soll, wenn beim Exportieren des Katalogs in EffectConnect Marketplaces kein übersetzbarer Wert in einer der anderen Sprachen festgelegt ist.</helpText>
            <defaultValue>true</defaultValue>
            <copyable>true</copyable>
        </input-field>
        <input-field type="bool">
            <name>useSalesChannelDefaultLanguageAsFirstFallbackLanguage</name>
            <label>Use sales channel default language as first fallback language</label>
            <label lang="nl-NL">Gebruik de standaardtaal van het sales channel als eerste fallback-taal</label>
            <label lang="de-DE">Verwenden die Standardsprache des Sales Channel als erste Fallback-Sprache</label>
            <helpText>By default the default language of the system languages is used as fallback language. When enabled, the sales channel default language will be used as fallback language first.</helpText>
            <helpText lang="nl-NL">Standaard wordt de standaardtaal van de systeemtalen gebruikt als fallback-taal. Indien ingeschakeld, wordt de standaardtaal van het sales channel eerst als fallback-taal gebruikt.</helpText>
            <helpText lang="de-DE">Standardmäßig wird die Standardsprache der Systemsprachen als Fallback-Sprache verwendet. Wenn diese Option aktiviert ist, wird zuerst die Standardsprache des Sales Channel als Fallback-Sprache verwendet.</helpText>
            <defaultValue>true</defaultValue>
            <copyable>true</copyable>
        </input-field>
        <input-field type="bool">
            <name>useSystemLanguages</name>
            <label>Use system languages</label>
            <label lang="nl-NL">Gebruik systeemtalen</label>
            <label lang="de-DE">Verwenden Systemsprachen</label>
            <helpText>By default the defined languages in the sales channel will be used. When enabled, the system languages will be used when exporting the catalog to EffectConnect Marketplaces.</helpText>
            <helpText lang="nl-NL">Standaard worden de talen in het verkoopkanaal gebruikt. Indien ingeschakeld, worden de systeemtalen gebruikt bij het exporteren van de catalogus naar EffectConnect Marketplaces.</helpText>
            <helpText lang="de-DE">Standardmäßig werden die Sprachen im Vertriebskanal verwendet. Wenn diese Option aktiviert ist, werden die Systemsprachen beim Exportieren des Katalogs in EffectConnect Marketplaces verwendet.</helpText>
            <defaultValue>false</defaultValue>
            <copyable>true</copyable>
        </input-field>
    </card>
    <card>
        <title>Offer Export</title>
        <title lang="nl-NL">Offer Export</title>
        <title lang="de-DE">Offerexport</title>
        <input-field type="single-select">
            <name>offerExportSchedule</name>
            <label>Schedule</label>
            <label lang="nl-NL">Schema</label>
            <label lang="de-DE">Zeitplan</label>
            <helpText>Determines if and when the offer export process will run.</helpText>
            <helpText lang="nl-NL">Bepaalt of en wanneer het offer export proces uitgevoerd zal worden.</helpText>
            <helpText lang="de-DE">Legt fest, ob und wann der Offerexport ausgeführt wird.</helpText>
            <placeholder>Choose a custom schedule...</placeholder>
            <placeholder lang="nl-NL">Kies een aangepast schema...</placeholder>
            <placeholder lang="de-DE">Wählen Sie einen benutzerdefinierten Zeitplan...</placeholder>
            <defaultValue>1800</defaultValue>
            <disabled>true</disabled>
            <options>
                <option>
                    <id>86400</id>
                    <name>Every 24 hours</name>
                    <name lang="nl-NL">Iedere 24-uur</name>
                    <name lang="de-DE">Alle 24 Stunden</name>
                </option>
                <option>
                    <id>3600</id>
                    <name>Every hour</name>
                    <name lang="nl-NL">Ieder uur</name>
                    <name lang="de-DE">Jede Stunde</name>
                </option>
                <option>
                    <id>1800</id>
                    <name>Every 30 minutes</name>
                    <name lang="nl-NL">Iedere 30-minuten</name>
                    <name lang="de-DE">Alle 30 Minuten</name>
                </option>
                <option>
                    <id>900</id>
                    <name>Every 15 minutes</name>
                    <name lang="nl-NL">Iedere 15-minuten</name>
                    <name lang="de-DE">Alle 15 Minuten</name>
                </option>
                <option>
                    <id>300</id>
                    <name>Every 5 minutes</name>
                    <name lang="nl-NL">Iedere 5-minuten</name>
                    <name lang="de-DE">Alle 5 Minuten</name>
                </option>
                <option>
                    <id>0</id>
                    <name>Disabled</name>
                    <name lang="nl-NL">Uitgeschakeld</name>
                    <name lang="de-DE">Ausgeschaltet</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>stockType</name>
            <label>Stock type</label>
            <label lang="nl-NL">Voorraadtype</label>
            <label lang="de-DE">Lagertyp</label>
            <helpText>Determines which stock to use when building the exports.</helpText>
            <helpText lang="nl-NL">Bepaalt welke voorraad gebruikt moet worden bij het opbouwen van de export.</helpText>
            <helpText lang="de-DE">Legt fest, welcher Bestand beim Erstellen der Exporte verwendet werden soll.</helpText>
            <placeholder>Choose a stock type...</placeholder>
            <placeholder lang="nl-NL">Kies een voorraadtype...</placeholder>
            <placeholder lang="de-DE">Wählen Sie eine Bestandsart...</placeholder>
            <defaultValue>salableStock</defaultValue>
            <options>
                <option>
                    <id>salableStock</id>
                    <name>Salable Stock</name>
                    <name lang="nl-NL">Verkoopbare voorraad</name>
                    <name lang="de-DE">Verkaufsfähiger Bestand</name>
                </option>
                <option>
                    <id>physicalStock</id>
                    <name>Physical stock</name>
                    <name lang="nl-NL">Fysieke voorraad</name>
                    <name lang="de-DE">Physischer Bestand</name>
                </option>
            </options>
        </input-field>
    </card>
    <card>
        <title>Order Import</title>
        <title lang="nl-NL">Order Import</title>
        <title lang="de-DE">Bestellen Import</title>
        <input-field type="single-select">
            <name>orderImportSchedule</name>
            <label>Schedule</label>
            <label lang="nl-NL">Schema</label>
            <label lang="de-DE">Zeitplan</label>
            <helpText>Determines if and when the order import process will run.</helpText>
            <helpText lang="nl-NL">Bepaalt of en wanneer het order import proces uitgevoerd zal worden.</helpText>
            <helpText lang="de-DE">Legt fest, ob und wann der bestellen Import ausgeführt wird.</helpText>
            <placeholder>Choose a custom schedule...</placeholder>
            <placeholder lang="nl-NL">Kies een aangepast schema...</placeholder>
            <placeholder lang="de-DE">Wählen Sie einen benutzerdefinierten Zeitplan...</placeholder>
            <defaultValue>900</defaultValue>
            <disabled>true</disabled>
            <options>
                <option>
                    <id>86400</id>
                    <name>Every 24 hours</name>
                    <name lang="nl-NL">Iedere 24-uur</name>
                    <name lang="de-DE">Alle 24 Stunden</name>
                </option>
                <option>
                    <id>3600</id>
                    <name>Every hour</name>
                    <name lang="nl-NL">Ieder uur</name>
                    <name lang="de-DE">Jede Stunde</name>
                </option>
                <option>
                    <id>1800</id>
                    <name>Every 30 minutes</name>
                    <name lang="nl-NL">Iedere 30-minuten</name>
                    <name lang="de-DE">Alle 30 Minuten</name>
                </option>
                <option>
                    <id>900</id>
                    <name>Every 15 minutes</name>
                    <name lang="nl-NL">Iedere 15-minuten</name>
                    <name lang="de-DE">Alle 15 Minuten</name>
                </option>
                <option>
                    <id>300</id>
                    <name>Every 5 minutes</name>
                    <name lang="nl-NL">Iedere 5-minuten</name>
                    <name lang="de-DE">Alle 5 Minuten</name>
                </option>
                <option>
                    <id>0</id>
                    <name>Disabled</name>
                    <name lang="nl-NL">Uitgeschakeld</name>
                    <name lang="de-DE">Ausgeschaltet</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>paymentStatus</name>
            <label>Payment status</label>
            <label lang="nl-NL">Betalingsstatus</label>
            <label lang="de-DE">Zahlungsstatus</label>
            <helpText>Select the payment status for imported orders.</helpText>
            <helpText lang="nl-NL">Selecteer order status voor geïmporteerde orders.</helpText>
            <helpText lang="de-DE">Wählen Sie den Zahlungsstatus für importierte Bestellungen.</helpText>
            <placeholder>Choose a payment status...</placeholder>
            <placeholder lang="nl-NL">Kies een betalingsstatus...</placeholder>
            <placeholder lang="de-DE">Wählen Sie eine Zahlungsstatus...</placeholder>
            <defaultValue>paid</defaultValue>
            <options>
                <option>
                    <id>paid</id>
                    <name>Paid</name>
                    <name lang="nl-NL">Betaald</name>
                    <name lang="de-DE">Bezahlt</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="nl-NL">Open</name>
                    <name lang="de-DE">Öffnen</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>orderStatus</name>
            <label>Order status</label>
            <label lang="nl-NL">Orderstatus</label>
            <label lang="de-DE">Bestellstatus</label>
            <helpText>Select the order status for imported orders.</helpText>
            <helpText lang="nl-NL">Selecteer order status voor geïmporteerde orders.</helpText>
            <helpText lang="de-DE">Wählen Sie den Bestellstatus für importierte Bestellungen.</helpText>
            <placeholder>Choose an order status...</placeholder>
            <placeholder lang="nl-NL">Kies een orderstatus...</placeholder>
            <placeholder lang="de-DE">Wählen Sie eine Bestellstatus...</placeholder>
            <defaultValue>open</defaultValue>
            <options>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="nl-NL">Open</name>
                    <name lang="de-DE">Öffnen</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="nl-NL">In behandeling</name>
                    <name lang="de-DE">In Bearbeitung</name>
                </option>
            </options>
        </input-field>
        <component name="sw-entity-single-select">
            <name>paymentMethod</name>
            <entity>payment_method</entity>
            <label>Payment method</label>
            <label lang="nl-NL">Betaalmethode</label>
            <label lang="de-DE">Zahlungsmethode</label>
            <helpText>Select the payment method for imported orders.</helpText>
            <helpText lang="nl-NL">Selecteer betaalmethode voor geïmporteerde orders.</helpText>
            <helpText lang="de-DE">Wählen Sie die Zahlungsmethode für importierte Bestellungen.</helpText>
            <placeholder>Choose a payment method...</placeholder>
            <placeholder lang="nl-NL">Kies een betaalmethode...</placeholder>
            <placeholder lang="de-DE">Wählen Sie eine Bezahlungsart...</placeholder>
        </component>
        <component name="sw-entity-single-select">
            <name>shippingMethod</name>
            <entity>shipping_method</entity>
            <label>Shipping method</label>
            <label lang="nl-NL">Verzendmethode</label>
            <label lang="de-DE">Versandart</label>
            <helpText>Select the shipping method for imported orders.</helpText>
            <helpText lang="nl-NL">Selecteer verzendmethode voor geïmporteerde orders.</helpText>
            <helpText lang="de-DE">Wählen Sie die Versandart für importierte Bestellungen.</helpText>
            <placeholder>Choose a shipping method...</placeholder>
            <placeholder lang="nl-NL">Kies een verzendmethode...</placeholder>
            <placeholder lang="de-DE">Wählen Sie eine Versandart...</placeholder>
        </component>
        <input-field type="bool">
            <name>createCustomer</name>
            <label>Create customers</label>
            <label lang="nl-NL">Maak klanten aan</label>
            <helpText>Create customers on order import.</helpText>
            <helpText lang="nl-NL">Maak klanten aan bij het importeren van orders.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
        <component name="sw-entity-single-select">
            <name>customerGroup</name>
            <entity>customer_group</entity>
            <label>Customer group</label>
            <label lang="nl-NL">Klantgroep</label>
            <helpText>Select the customer group for new customers.</helpText>
            <helpText lang="nl-NL">Selecteer klantgroep voor nieuwe klanten.</helpText>
            <placeholder>Choose a customer group...</placeholder>
            <placeholder lang="nl-NL">Kies een klantgroep...</placeholder>
        </component>
        <input-field type="single-select">
            <name>customerSourceType</name>
            <label>Customer source type</label>
            <label lang="nl-NL">Klantdata bron</label>
            <helpText>Select the data where the customer data will be collected from.</helpText>
            <helpText lang="nl-NL">Selecteer de data waar de klantgegevens uit gehaald moeten worden.</helpText>
            <placeholder>Choose the customer data source...</placeholder>
            <placeholder lang="nl-NL">Kies de klantdata bron...</placeholder>
            <defaultValue>billing</defaultValue>
            <options>
                <option>
                    <id>billing</id>
                    <name>Billing</name>
                    <name lang="nl-NL">Billing</name>
                </option>
                <option>
                    <id>shipping</id>
                    <name>Shipping</name>
                    <name lang="nl-NL">Shipping</name>
                </option>
            </options>
        </input-field>
        <input-field type="bool">
            <name>importExternallyFulfilledOrders</name>
            <label>Import externally fulfilled orders</label>
            <label lang="nl-NL">Importeer extern afgehandelde orders</label>
            <label lang="de-DE">Extern ausgeführte Aufträge importieren</label>
            <helpText>Whether to include externally fulfilled orders during import.</helpText>
            <helpText lang="nl-NL">Extern afgehandelde orders meenemen tijdens order import.</helpText>
            <helpText lang="de-DE">Ob extern ausgeführte Aufträge während des Imports einbezogen werden sollen</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>externalShippingStatus</name>
            <label>Externally fulfilled shipping status</label>
            <helpText>Select the shipping status for externally fulfilled orders.</helpText>
            <helpText lang="nl-NL">Selecteer shipping status voor extern afgehandelde orders.</helpText>
            <helpText lang="de-DE">Wählen Sie den Versandstatus für extern ausgeführte Bestellungen aus.</helpText>
            <placeholder>Choose a shipping status...</placeholder>
            <placeholder lang="nl-NL">Kies een verzendstatus...</placeholder>
            <placeholder lang="de-DE">Wählen Sie einen Versandstatus</placeholder>
            <defaultValue>shipped</defaultValue>
            <options>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="nl-NL">Open</name>
                    <name lang="de-DE">Öffnen</name>
                </option>
                <option>
                    <id>shipped</id>
                    <name>Shipped</name>
                    <name lang="nl-NL">Verzonden</name>
                    <name lang="de-DE">Gesandt</name>
                </option>
                <option>
                    <id>shipped_partially</id>
                    <name>Partially shipped</name>
                    <name lang="nl-NL">Gedeeltelijk verzonden</name>
                    <name lang="de-DE">Teilweise versandt</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>externalPaymentStatus</name>
            <label>Externally fulfilled payment status</label>
            <label lang="nl-NL">Betalingsstatus</label>
            <label lang="de-DE">Zahlungsstatus</label>
            <helpText>Select the payment status for externally fulfilled orders.</helpText>
            <helpText lang="nl-NL">Selecteer betalingsstatus voor extern afgehandelde orders.</helpText>
            <helpText lang="de-DE">Wählen Sie den Zahlungsstatus für extern ausgeführte Bestellungen</helpText>
            <placeholder>Choose a payment status...</placeholder>
            <placeholder lang="nl-NL">Kies een betalingsstatus...</placeholder>
            <placeholder lang="de-DE">Wählen Sie eine Zahlungsstatus...</placeholder>
            <defaultValue>paid</defaultValue>
            <options>
                <option>
                    <id>paid</id>
                    <name>Paid</name>
                    <name lang="nl-NL">Betaald</name>
                    <name lang="de-DE">Bezahlt</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="nl-NL">Open</name>
                    <name lang="de-DE">Öffnen</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>externalOrderStatus</name>
            <label>Externally fulfilled order status</label>
            <label lang="nl-NL">Exernn afgehandelde orderstatus</label>
            <label lang="de-DE">Extern ausgeführter Bestellstatus</label>
            <helpText>Select the order status for external fulfilled imported orders.</helpText>
            <helpText lang="nl-NL">Selecteer order status voor extern afgehandelde geïmporteerde orders.</helpText>
            <helpText lang="de-DE">Wählen Sie den Bestellstatus für importierte Bestellungen.</helpText>
            <placeholder>Choose an order status...</placeholder>
            <placeholder lang="nl-NL">Kies een orderstatus...</placeholder>
            <placeholder lang="de-DE">Wählen Sie eine Bestellstatus...</placeholder>
            <defaultValue>open</defaultValue>
            <options>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="nl-NL">Open</name>
                    <name lang="de-DE">Öffnen</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="nl-NL">In behandeling</name>
                    <name lang="de-DE">In Bearbeitung</name>
                </option>
            </options>
        </input-field>
    </card>
</config>